/adadddd.py
/dsgsrhgs.py
/.idea/vcs.xml
/wiencowe.py
/screenshot.png
/.idea/misc.xml
/.idea/modules.xml
/nrrd wyswietlanie.py
/nrrd_opening.py
/.idea/inspectionProfiles/Project_Default.xml
/PyCharmMiscProject.iml
/rtyui.py
